##################################################
!!! Production server {{ ansible_hostname }}   !!!
##################################################

       __|  __|_  )
       _|  (     /   CentOS 7.2
      ___|\___|___|

