##################################################
!!! Production server {{ ansible_hostname }}   !!!
##################################################

       __|  __|_  )
       _|  (     /   Amazon Linux AMI
      ___|\___|___|

https://aws.amazon.com/amazon-linux-ami/2015.03-release-notes/
